/.vs/
x64/
!ThirdParty/
!ThirdParty/fmod_2_03_12/
!ThirdParty/fmod_2_03_12/lib/
!ThirdParty/fmod_2_03_12/lib/x64/
!ThirdParty/tracy-0.13.1/
!ThirdParty/HBAOPlus-3.1.0/lib/
/EngineSDK/

ThirdParty/physx-5.6.1

**/Bin/

imgui.ini


/vcpkg_installed
!/ThirdParty/imgui-node-editor-0.9.3

enc_temp_folder/
/Tools/HogwartsMapImporter
/WorldReconstruction
/Detex.dll

!ThirdParty/NvCloth_1.1.6/bin/
!ThirdParty/blast-5.0.6/release/blast-sdk/bin/
/ThirdParty/UEViewer-Sanctum
/UmodelSaved/Game/Gameplay/BluePrints/Sanctum_Dungeon/Pensieve_1_RiftSections
/notify.log
/tools
